<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ code }} - JournalJourney</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
</head>

<body>

    <div class="container" style="text-align:center;">
        <h1 style="font-size:4em; margin-bottom:0;">{{ code }}</h1>
        <h3>{{ message }}</h3>
        <a style="text-decoration:none;" href="{{ url_for('journal.index') }}">
            <input type="button" value="Back to Home">
        </a>
    </div>

</body>
</html>
